# Rust artefacts
target/

# Node artefacts
build/
prebuilds/
node_modules/

# Swift artefacts
.build/

# Go artefacts
_obj/

# Python artefacts
.venv/
dist/
*.egg-info
*.whl

# C artefacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Zig artefacts
.zig-cache/
zig-cache/
zig-out/

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip

# Nova artefacts
TreeSitterParserBuild
.nova/
