Cargo.lock
node_modules
.node-version
*.log
/test.js
package-lock.json
.build/
.DS_Store

# Compiled files and materials for Nova
# See Nova extension repo EmranMR/Laravel-Nova-Extension
TreeSitterParserBuild
build
.nova/
*.dylib